USE [FineMusicDBV3]
GO
/****** Object:  Table [dbo].[Collection]    Script Date: 1/9/2024 11:31:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](300) NOT NULL,
	[SingerId] [int] NOT NULL,
	[Cover] [varchar](3000) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Collection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FollowedList]    Script Date: 1/9/2024 11:31:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowedList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MusicListId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_FollowedList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Music]    Script Date: 1/9/2024 11:31:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Music](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](300) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Description] [varchar](3000) NULL,
	[CollectionId] [int] NOT NULL,
	[LrcFile] [varchar](3000) NULL,
	[HitCount] [int] NOT NULL,
	[FileSrc] [varchar](3000) NOT NULL,
 CONSTRAINT [PK_Music] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusicList]    Script Date: 1/9/2024 11:31:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](300) NOT NULL,
	[UserId] [int] NOT NULL,
	[Cover] [varchar](3000) NULL,
	[CreateTime] [datetime] NOT NULL,
	[Description] [varchar](3000) NULL,
 CONSTRAINT [PK_MusicList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusicOfList]    Script Date: 1/9/2024 11:31:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicOfList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MusicId] [int] NOT NULL,
	[MusicListId] [int] NOT NULL,
	[AddedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_MusicOfList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Singer]    Script Date: 1/9/2024 11:31:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Singer](
	[Id] [int] NOT NULL,
	[Name] [varchar](300) NOT NULL,
	[Gender] [varchar](300) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Description] [varchar](300) NULL,
	[Photo] [varchar](3000) NULL,
 CONSTRAINT [PK_Singer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/9/2024 11:31:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[Nicename] [varchar](300) NOT NULL,
	[Phone] [varchar](300) NOT NULL,
	[Password] [varchar](300) NOT NULL,
	[Photo] [varchar](3000) NULL,
	[Slogan] [varchar](300) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Collection] ON 

INSERT [dbo].[Collection] ([Id], [Name], [SingerId], [Cover], [CreateTime]) VALUES (1, N'范特西', 1, N'', CAST(N'2001-09-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Collection] ([Id], [Name], [SingerId], [Cover], [CreateTime]) VALUES (2, N'七里香', 1, N'', CAST(N'2004-08-03T00:00:00.000' AS DateTime))
INSERT [dbo].[Collection] ([Id], [Name], [SingerId], [Cover], [CreateTime]) VALUES (3, N'林俊杰 Collection 1', 2, N'', CAST(N'2004-08-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Collection] OFF
GO
SET IDENTITY_INSERT [dbo].[Music] ON 

INSERT [dbo].[Music] ([Id], [Name], [CreateTime], [Description], [CollectionId], [LrcFile], [HitCount], [FileSrc]) VALUES (1, N'爱在西元前', CAST(N'2001-09-20T00:00:00.000' AS DateTime), N'', 1, N'爱在西元前-周杰伦.lrc', 1486, N'爱在西元前.mp3')
INSERT [dbo].[Music] ([Id], [Name], [CreateTime], [Description], [CollectionId], [LrcFile], [HitCount], [FileSrc]) VALUES (2, N'爸，我回来了', CAST(N'2001-09-20T00:00:00.000' AS DateTime), N'', 1, N'', 6740, N'爸，我回来了.mp3')
INSERT [dbo].[Music] ([Id], [Name], [CreateTime], [Description], [CollectionId], [LrcFile], [HitCount], [FileSrc]) VALUES (3, N'简单爱', CAST(N'2001-09-20T00:00:00.000' AS DateTime), N'', 1, N'', 3111, N'简单爱.mp3')
SET IDENTITY_INSERT [dbo].[Music] OFF
GO
SET IDENTITY_INSERT [dbo].[MusicList] ON 

INSERT [dbo].[MusicList] ([Id], [Name], [UserId], [Cover], [CreateTime], [Description]) VALUES (1, N'List Of WangQing', 1, N'', CAST(N'2024-01-04T15:35:26.260' AS DateTime), N'')
INSERT [dbo].[MusicList] ([Id], [Name], [UserId], [Cover], [CreateTime], [Description]) VALUES (2, N'List Of FanXiaoDie', 2, N'', CAST(N'2024-01-04T15:35:26.480' AS DateTime), N'')
INSERT [dbo].[MusicList] ([Id], [Name], [UserId], [Cover], [CreateTime], [Description]) VALUES (3, N'List Of ZhuFan', 3, N'', CAST(N'2024-01-04T15:35:26.480' AS DateTime), N'')
GO
SET IDENTITY_INSERT [dbo].[MusicList] OFF
GO
SET IDENTITY_INSERT [dbo].[MusicOfList] ON 

INSERT [dbo].[MusicOfList] ([Id], [MusicId], [MusicListId], [AddedTime]) VALUES (1, 29, 1, CAST(N'2024-01-04T15:35:26.443' AS DateTime))
INSERT [dbo].[MusicOfList] ([Id], [MusicId], [MusicListId], [AddedTime]) VALUES (2, 22, 1, CAST(N'2024-01-04T15:35:26.447' AS DateTime))
INSERT [dbo].[MusicOfList] ([Id], [MusicId], [MusicListId], [AddedTime]) VALUES (3, 3, 1, CAST(N'2024-01-04T15:35:26.447' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MusicOfList] OFF
GO
INSERT [dbo].[Singer] ([Id], [Name], [Gender], [BirthDate], [Description], [Photo]) VALUES (1, N'ZhouJieLun', N'Male', CAST(N'1979-01-18T00:00:00.000' AS DateTime), N'', N'')
INSERT [dbo].[Singer] ([Id], [Name], [Gender], [BirthDate], [Description], [Photo]) VALUES (2, N'LinJunJie', N'Male', CAST(N'1981-03-27T00:00:00.000' AS DateTime), N'', N'')
INSERT [dbo].[Singer] ([Id], [Name], [Gender], [BirthDate], [Description], [Photo]) VALUES (3, N'SunYanZi', N'Female', CAST(N'1978-07-23T00:00:00.000' AS DateTime), N'', N'')
GO
INSERT [dbo].[User] ([Id], [Nicename], [Phone], [Password], [Photo], [Slogan]) VALUES (1, N'WangQing', N'13507660274', N'239159', N'', N'')
INSERT [dbo].[User] ([Id], [Nicename], [Phone], [Password], [Photo], [Slogan]) VALUES (2, N'FanXiaoDie', N'15068682720', N'446326', N'', N'')
INSERT [dbo].[User] ([Id], [Nicename], [Phone], [Password], [Photo], [Slogan]) VALUES (3, N'ZhuFan', N'14770178249', N'753801', N'', N'')
GO
ALTER TABLE [dbo].[Collection]  WITH CHECK ADD  CONSTRAINT [FK_Collection_Singer] FOREIGN KEY([SingerId])
REFERENCES [dbo].[Singer] ([Id])
GO
ALTER TABLE [dbo].[Collection] CHECK CONSTRAINT [FK_Collection_Singer]
GO
ALTER TABLE [dbo].[FollowedList]  WITH CHECK ADD  CONSTRAINT [FK_FollowedList_MusicOfList] FOREIGN KEY([MusicListId])
REFERENCES [dbo].[MusicList] ([Id])
GO
ALTER TABLE [dbo].[FollowedList] CHECK CONSTRAINT [FK_FollowedList_MusicOfList]
GO
ALTER TABLE [dbo].[FollowedList]  WITH CHECK ADD  CONSTRAINT [FK_FollowedList_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[FollowedList] CHECK CONSTRAINT [FK_FollowedList_User]
GO
ALTER TABLE [dbo].[Music]  WITH CHECK ADD  CONSTRAINT [FK_Music_Collection] FOREIGN KEY([CollectionId])
REFERENCES [dbo].[Collection] ([Id])
GO
ALTER TABLE [dbo].[Music] CHECK CONSTRAINT [FK_Music_Collection]
GO
ALTER TABLE [dbo].[MusicList]  WITH CHECK ADD  CONSTRAINT [FK_MusicList_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MusicList] CHECK CONSTRAINT [FK_MusicList_User]
GO
ALTER TABLE [dbo].[MusicOfList]  WITH CHECK ADD  CONSTRAINT [FK_MusicOfList_Music] FOREIGN KEY([MusicId])
REFERENCES [dbo].[Music] ([Id])
GO
ALTER TABLE [dbo].[MusicOfList] CHECK CONSTRAINT [FK_MusicOfList_Music]
GO
ALTER TABLE [dbo].[MusicOfList]  WITH CHECK ADD  CONSTRAINT [FK_MusicOfList_MusicList] FOREIGN KEY([MusicListId])
REFERENCES [dbo].[MusicList] ([Id])
GO
ALTER TABLE [dbo].[MusicOfList] CHECK CONSTRAINT [FK_MusicOfList_MusicList]
GO
